In [ ]:
#downloading words from NLTK corpus
import nltk 
nltk.download('words')  
from nltk.corpus import words

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [ ]:
#all dictionary words stored in word list
word_list = words.words() 
print(f'Dictionary length: {len(word_list)}')

Dictionary length: 236736

In [ ]:
word_list[0:5]

['A', 'a', 'aa', 'aal', 'aalii']

In [ ]:
## Add each word in the dictionary to a BloomFilter using the following code
! pip install bloom-filter
from bloom_filter import BloomFilter

Requirement already satisfied: bloom-filter in /usr/local/lib/python3.7/dist-packages (1.3.3)

In [ ]:
print(len(word_list))
word_filter = BloomFilter(max_elements=236736) 
for word in word_list:   
  word_filter.add(word)

236736

In [ ]:
# creating set of word from dictionary as mentioned in question
word_set = set(word_list)

In [ ]:
import sys
### to get size of different variables
print("the size of dictionary is " +str(sys.getsizeof(word_list)))
print("the size of dictionary set is " +str(sys.getsizeof(word_set)))
print("the size of bloomfilter word_filter is " + str(sys.getsizeof(word_filter)))

the size of dictionary is 2115960
the size of dictionary set is 8388840
the size of bloomfilter word_filter is 64

**We can make conclusion that the bloom filter is very useful for reducing space complexity**

In [ ]:
### To search for random word "wax" and find time taken using general and bloom filter method
import timeit
#time taken for finding word in word_list
starttime = timeit.default_timer()
print("The start time is :",starttime)

The start time is : 2180.065884869

In [ ]:
'wax' in word_list
print("The time difference is :", timeit.default_timer() - starttime)

The time difference is : 0.012821217999771761

In [ ]:
#for finding word in word set
starttime2 = timeit.default_timer()
print("The start time is :",starttime2)

The start time is : 2180.088080056

In [ ]:
'wax' in word_set
print("The time difference is :", timeit.default_timer() - starttime)

The time difference is : 0.03482524499986539

In [ ]:
# time for finding word using bloom filter
starttime3 = timeit.default_timer()
print("The start time is :",starttime3)

The start time is : 2180.133267611

In [ ]:
'wax' in word_filter
print("The time difference is :", timeit.default_timer() - starttime)

The time difference is : 0.08068589000004067

In [ ]:
### to store the dataset of review of chennai
import pandas as pd
#upload csv hotel file 
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving chennai_reviews.csv to chennai_reviews (1).csv

In [ ]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "chennai_reviews.csv" with length 1290720 bytes

In [ ]:
df=pd.read_csv("chennai_reviews.csv")
df

                 Hotel_name  ... Unnamed: 8
0       Accord Metropolitan  ...        NaN
1       Accord Metropolitan  ...        NaN
2       Accord Metropolitan  ...        NaN
3       Accord Metropolitan  ...        NaN
4       Accord Metropolitan  ...        NaN
...                     ...  ...        ...
4763  Hyatt Regency Chennai  ...        NaN
4764  Hyatt Regency Chennai  ...        NaN
4765  Hyatt Regency Chennai  ...        NaN
4766  Hyatt Regency Chennai  ...        NaN
4767  Hyatt Regency Chennai  ...        NaN

[4768 rows x 9 columns]

In [ ]:
#only data frame as required for review text
df_review=df.drop(columns=['Hotel_name','Review_Title','Sentiment',	'Rating_Percentage',	'Unnamed: 5',	'Unnamed: 6',	'Unnamed: 7',	'Unnamed: 8'])

##to remove null value
df_review.dropna()

                                            Review_Text
0     Its really nice place to stay especially for b...
1     It seems that hotel does not check the basic a...
2     Worst hotel I have ever encountered. I will ne...
3     Had a good time in this hotel and the staff Ku...
4     good hotel and staff Veg food good non veg bre...
...                                                 ...
4763  My fifth stay at the hotel for business. Rooms...
4764                                          enjoyable
4765  Most impressive service by staff in all areas....
4766  The linens were smelling bad, and the elevator...
4767  Stayed at the Hyatt in Chennai for the first t...

[4767 rows x 1 columns]

In [ ]:
#storing all pandas dataframe review to a list to perform tokenization
a=[]
for i in range (0,4767):
  a.append(df_review.iloc[i,0])

len(a)

4767

In [ ]:
#printing starting 3 words of a list
a[0:3]

['Its really nice place to stay especially for business and tourist purpose.',
 'It seems that hotel does not check the basic amenities in the room, before handing over the room to the traveller.  The phone in my room was not working and it created a problem for me, as after a hectic day of travel you would like to relax and work at your own pace. So they sent the technician who kept on looking for the fix for about an hour and then i had to get my room changed.',
 'Worst hotel I have ever encountered. I will never think to stay in thiis hotel in the future']

In [ ]:
### splitting each sentence to word stored in list "a"
from torchtext.data import get_tokenizer

In [ ]:
tokenizer = get_tokenizer('basic_english')
tokens = []
for s in a:
    tokens += tokenizer(str(s))

In [ ]:
print(tokens[0:10])
print("length of token is :" +str(len(tokens)))

['its', 'really', 'nice', 'place', 'to', 'stay', 'especially', 'for', 'business', 'and']
length of token is :212706

In [ ]:
### words not in dictionary but in review tokens
absence_word=[]
for w in range(0,len(tokens)):
  if tokens[w] in word_filter == "False":
      absence_word.append(tokens[w])

In [ ]:
# i have made calculation by removing stop word in tokenization section...almost all word are present in bloom filter
absence_word

[]

# **How to improve the spell checker**

##To improve spell checker:

## we are using hatch function for bloom filter therefore we have to choose correct number of hatch faunction to maintain decrease in False positive.

## We have also focus to increase accuracy of spell checker by proper selection of: 
#word frequency

#n-grams frequencies, separate for each gram (2, 3) that is take grams of length generally 3 to 4 for more accuracy but it will increase time complexity as more token word are generated.

#words length 

#word existence in a clean static dictionary.